<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <h3 class="text-center" id="maintitle">
                Book Swap
            </h3>
            <img class="swapimg" src="https://www.tridentbookscafe.com/sites/tridentbookscafe.com/files/book%20swap.jpg">
        </div>
    </div>
    <div class="row">
        <div class="col-md-9">
<dt class="whatisit">
    What is it?
</dt>
<dd>
    Book Swap is a way to trade books by connecting avid readers with others who want to share the books they've read.
</dd>
<dd>
    It's easy. List the books you have, and search for the ones you want.
</dd>
</div>
        <div class="col-md-6" id="loginform">
            <form role="form">
                <!-- Login form -->
                <label for="login-form-group" class="login-label">
                    <strong>Log In:</strong>
                </label>
                <div class="login-form-group">
                    <label for="inputUsername">
                        Username
                    </label>
                    <input type="username" class="form-control" id="inputUsername" ng-model="username" />
                </div>
                <div class="login-form-group">

                    <label for="inputPassword">
                        Password
                    </label>
                    <input type="password" class="form-control" id="inputPassword" ng-model="password"/>
                </div>
                <div class="form-group">
                </div>
                <div class="checkbox">
                </div>
                <button type="submit" class="btn btn-primary" ng-click="$ctrl.checkUser(username, password)">
                    Log In
                </button>
            </form>
        </div>

    </div>
</div>