<div class="container-fluid">
  <div class="row">
    <div class="col-md-10">
      <form role="form">
        <div class="form-group">
            <h2 class="searchheader">Search here to Swap Books:</h2>
          <input type="text" class="form-control" id="searchField" placeholder="Enter Title, Author, or ISBN" ng-model="searchterm"/>
        </div>
        
        <button type="submit" class="btn btn-primary" ng-click="$ctrl.searchbooks(searchterm)">
          Search
        </button>
        <!-- list random books from db -->
        <div>

        </div>
      </form>
    </div>
  </div>
</div>