<div class="container-fluid">
  <div class="row">
    <div class="col-md-8">
      <form role="form">
        <div class="form-group">
            <h2 class="searchheader">Search here to Swap Books:</h2>
          <input type="text" class="form-control" id="searchField" placeholder="Enter ISBN" ng-model="searchterm"/>
        </div>
        
        <button type="submit" class="btn btn-primary" ng-click="$ctrl.searchbooks(searchterm)">
          Search
        </button>
        <!-- list random books from db -->
        <div>
          <book-list booklist="$ctrl.ctrlArr"></book-list>
        </div>
      </div>
    <div class="col-md-4" id="havebooks">
        <div class="form-group">
          <h4 class="haveBooksHeader">My Books:</h4>
          <input type="text" class="form-control" id="haveField" placeholder="Enter ISBN" ng-model="book" />
        </div>
        
        <button type="submit" class="btn btn-primary" ng-click="$ctrl.addBooks(book)">
          Add
        </button>
      
<!-- this is where the list of book that i have will go -->
         <div>
           <have-list rembooks="$ctrl.remBooks" mybooks="$ctrl.myBooks"></have-list>
         </div>
      </form>
    </div>
  </div>
</div>

<pre>{{$ctrl.myBooks.data}}</pre>